body {
    background-color: black;
    color: white;
}
header {
    
   
}
section {
    text-align: center;

    
}
input {
    border-radius: 10px;
    background-color: blue;
    color: white;
    
}
